.card {
  height: 700px;
  min-height: 700px;
  min-width: 350px;
  width: 100%;
  padding: 15px;
}

.card-half {
  display: flex;
  justify-content: space-between;
  min-height: 345px;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}